.PhoneHolder {
  background-color: black;
  padding: 10px;

  border-radius: 16px;

  display: flex;
  right: 1%;
  bottom: 1%;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.Phone {
  background-color: #39424f;
  height: 648px;
  width: 288px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.Spinner {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPageButtons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 3px;
}

.TopRow {
  background-color: hsla(213, 18%, 12%, 0.692);
  height: 6%;
  width: 100%;

  border-radius: 10px 10px 0px 0px;

  display: flex;
  user-select: none;
}

.TopRowLeft {
  width: 50%;
  color: white;
  padding-left: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.TopRowRight {
  width: 50%;
  color: white;
  padding-right: 10px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.BottomRow {
  background-color: hsla(213, 18%, 12%, 0.692);
  height: 8%;
  width: 100%;

  border-radius: 0px 0px 10px 10px;

  display: flex;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppPage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.NotiContainer {
  width: 100%;

  display: flex;
  position: absolute;
  flex-wrap: wrap;
  pointer-events: none;

  justify-content: center;
}

.Noti {
  background-color: rgba(24, 24, 24, 0.95);

  border-radius: 4px;
  z-index: 10;
  width: 90%;
  height: 12%;
  flex-shrink: 0;
  margin-bottom: 8px;
}

.NotiTopRow {
  height: 30%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}

.NotiBottomRow {
  height: 70%;
  width: 100%;

  display: flex;
  margin-top: 6px;
  text-align: left;
}
