.App {
  height: 100%;
  width: 100%;

  display: flex;
  position: absolute;
  justify-content: center;
}

.Main {
  background-color: rgba(24, 24, 24, 0.95);
  height: 7vh;
  width: 20vw;

  bottom: 3%;

  display: flex;
  position: absolute;

  border-radius: 8px;
}

.TopRow {
  height: 40%;
  width: 100%;

  display: flex;
  vertical-align: middle;
}

.BottomRow {
  height: 60%;
  width: 100%;

  display: flex;
  vertical-align: middle;
}
